/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    margin-bottom: 2rem;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
}

.card-body {
    padding: 2rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
}

.card-text strong {
    color: #333;
}

/* Iconos */
.bi {
    margin-right: 0.5rem;
    color: #4CAF50;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    margin-top: auto;
}

